@import url("https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  background-color: rgb(40, 38, 38);
  color: white;
  text-align: center;
}

.main-heading {
  font-family: "Bitcount Ink", system-ui;
  font-size: 50px;
}

.sub-heading{
    font-family: "Bitcount Ink", system-ui;
    font-size: 30px;

}

.get-started-btn {
  font-family: "Oswald", sans-serif;
  color: rgb(170, 166, 166);
  font-size: 30px;
  text-decoration: none;
}

.get-started-btn:hover {
  color: white;
  font-size: 30px;
  text-decoration: underline plum;
}

.sub-head {
  font-size: 20px;
  color: rgb(160, 154, 154);
  font-family: "Oswald", sans-serif;
}

.signup-inputs {
  height: 20px;
}

.footer-links {
  color: plum;
  text-decoration: none;
}

.footer-links:hover {
  text-decoration: underline white;
}

.common-links {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  padding: 20px;
  color: rgb(121, 120, 120);
  background: none;
  border: none;
  text-decoration: none;
}

.common-links:hover {
  text-decoration: underline plum ;
  text-underline-offset: 10px;
}


.comm-links{
  font-size: 25px;
  color: rgb(143, 140, 140);
  padding: 15px;
  text-decoration: underline white 5px;
  text-underline-offset: 10px;

  
}
.comm-links:hover{
  text-decoration: underline plum 5px;
  
}

.create-comm-btn{

  background-color: rgb(236, 182, 236);
  height: 44px;
  width: 10%;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: black;
  font-size: 1rem;

  


}

.create-comm-btn:hover{

  background-color: rgb(181, 74, 181);
  height: 44px;
  width: 10%;
   border : none; 


}


.homepage-margin{

  margin-top: 3%;

}

.get-started-margin{
  margin-top: 12%;
}


.click-btn{

  background-color: plum;
  height: 40px;
  width: 80px;
  border: none;
  cursor: pointer;

}

.click-btn:hover{

  background-color: rgb(237, 62, 237);
  height: 40px;
  width: 80px;
   border : none; 

}

.skip-btn{

  font-size: 30px;
  text-decoration: underline white;
  text-underline-offset: 12px;
  color: plum;

}

.skip-btn:hover{

  color: white;
  font-size: 30px;
  text-decoration: underline plum;
  text-underline-offset: 12px;

}


.userpp{

  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;

}


.input-style{
  background-color: rgb(163, 133, 159);
  font-size: 20px;
  border: none;
}

.input-style::placeholder{

  color:  white;
  font-family: "Oswald", sans-serif;;
}


.community-name-style{


  font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: rgb(121, 120, 120);
  background: none;
  border: none;
  text-decoration: underline plum 5px;
  text-underline-offset: 7px;

}


.community-bg-image{
  height: 200px;
  object-fit: contain;
}

.join-community-btn{
  width: auto;
  height: 55px;
  background-color: plum;
  border: none;
  border-radius: 6px;
}

.join-community-btn:hover{

  height: 55px;
  background-color: rgb(237, 62, 237);
  width: auto;
  border : none; 
  
}